/* Sidebar styles */
.left-sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  /* Start from outside the viewport */
  background-color: #222;
  overflow-x: hidden;
  transition: 0.5s;
}

.left-sidebar-handle {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #ff0202;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.left-sidebar.open {
  left: 0;
  /* Move sidebar into the viewport */
  width: 250px;
}

.left-sidebar-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

.left-sidebar ul.components {
  padding: 0;
}

.left-sidebar ul.components li {
  list-style: none;
}

.left-sidebar ul.components li a {
  padding: 10px;
  text-align: left;
  display: block;
  color: #ccc;
  transition: color 0.3s;
}

.left-sidebar ul.components li a:hover {
  color: #fff;
  background-color: #333;
  text-decoration: none;
}