/* sidebar.module.css */

.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  /* Initially hidden off the screen */
  width: 250px;
  height: 100%;
  background-color: #fff;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.navbarhead {
  display: flex;
  justify-content: center;
  margin-left: -20px;
  max-height: 20px;
}

.sidebar.open {
  right: 0;
  /* Show the sidebar */
}

.navbar {
  margin-top: 100px;
  border-top: solid 1px black;
}

.navbarItem {
  padding: 15px;
}

.navLink {
  font-size: medium;
  color: red;
  text-decoration: none;
}