.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 135px;
  height: 85px;
  object-fit: cover;
}
.videoBlogSubtitle,
.videoBlogTitle {
  position: absolute;
  left: 155px;
  display: inline-block;
}
.videoBlogTitle {
  top: 0;
  font-weight: 600;
  width: 237px;
}
.videoBlogSubtitle {
  top: 30px;
  width: 281px;
}
.rectangleParent {
  position: absolute;
  top: 90px;
  left: 804px;
  width: 436px;
  height: 85px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
