/* frame-component3.module.css */

/* Featured Content Parent Container */
/* frame-component3.module.css */

/* Featured Content Parent Container */
.featuredContentParent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a1181b;
  color: #fff;
  border-top-left-radius: 200px;
  height: 350px;
  /* Adjust the height as needed */
}

/* Featured Content Container */
.featuredContent {
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: center;
}

/* Featured Content Title */
.featuredContent1 {
  font-size: 36px;
  font-family: 'poppins';
  margin-bottom: 20px;
  margin-right: 10px;
}

/* Blog Item Container */
.rectangleParent {
  width: 400px;
  /* Set a fixed width */
  height: 260px;
  /* Set a fixed height */
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 10px;
  box-shadow: 1px 2px 4px 0 rgba(110, 124, 214, 0.2),
    0 5px 15px 0 rgba(4, 5, 16, 0.15);
  border-radius: 15px;
  padding: 10px 15px;
  z-index: 1;
  overflow: hidden;
  transition: 0.7s;
  background-color: rgb(255, 255, 255);
  color: fff;
  background-color: transparent;
}

.rectangleParent:hover {
  background: #f4a0a0;

  transform: scale(1.1);
  z-index: 9;
}

/* Blog Image */
.groupChild {
  width: 95%;
  height: 120px;
  object-fit: fill;
  border-radius: 6px;
  /* Ensure the image fits within the container */
}

/* Blog Title */
.blogTitle {
  font-size: 18px;
  font-family: 'poppins';
  font-weight: 500;
  margin-bottom: 5px;
  text-align: center;
}

/* Blog Subtitle */
.blogSubtitle {
  font-size: 14px;
  color: #666;
}

/* Navigation Buttons Container */
.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Navigation Buttons */
.myButton {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #007bff;
  /* Button background color */
  color: #fff;
  /* Button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

/* Disabled Navigation Buttons */
.myButton:disabled {
  background-color: #ccc;
  /* Disabled button background color */
  cursor: not-allowed;
}

/* Center the buttons horizontally */
.myButton:first-child {
  margin-right: auto;
}

.carouselContainer {
  overflow: hidden;
  position: relative;
  display: flex;
  width: 100%;
}

/* Carousel Wrapper */
.carouselWrapper {
  display: flex;
  align-items: center;
  height: 400px;
  max-width: 1000px;
  transition: transform 0.3s ease;
  /* Animation for sliding effect */
}

/* Sliding Buttons */
.carouselButton1 {
  background-color: #fff;
  color: #ff0000;
  border: none;
  width: 25px;
  border-radius: 50%;
  height: 25px;
  margin-top: 17%;
}

.carouselButton2 {
  background-color: #fff;
  color: #ff0000;
  border: none;
  width: 25px;
  border-radius: 50%;
  height: 25px;
  margin-top: 17%;
}

.carouselButton.prev {
  left: 0;
}

.carouselButton.next {
  right: 0;
}